# Node
node_modules/
.next/
out/
build/
.env
.env.local
.env.production
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
instance/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Deployment
.vercel

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
